div#container {
    width: 100%;
}
div.children {
    width: 33%;
    float: left;
}

div#problem_container {
    width: 100%;
    background: black;
}
div.problem_child {
    width: 33%;
    float: left;
}
